{% extends 'base.html.twig' %}

{% block title %}RegistroAlumno{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Registro</h1>
</div>
{{ form(form)}}
<br>
<a href="{{ path('app_login') }}">Iniciar sesión</a>
{% endblock %}
