<form method="post" action="{{ path('app_curso_delete', {'id': curso.id}) }}" onsubmit="return confirm('¿Seguro que desea eliminar este curso?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ curso.id) }}">
    <button class="btn">Eliminar</button>
</form>
